.App {
  text-align: center;
}

.App-header {
  min-height: 100px;
  display: block;
  margin: auto 0;
  align-items: center;
  justify-content: center;
}

.App-footer {
  color:rgb(25, 0, 255)
}


.App-logo {
  max-width: 100px;
  height:100px;
  pointer-events: none;
  background-color:#282c34 ;
}

.App-link {
  color: #61dafb;
}

