.App {
  margin: 40px;
  text-align: center;
  background: white;
}

.App-header {
  min-height: 100px;
  display: block;
  margin: auto 0;
  align-items: center;
  justify-content: center;
}

.App-logo {
  border-radius: 50%;
  max-width: 100px;
  height:100px;
  pointer-events: none;
  margin:10px;
}

.App-link {
  color: #61dafb;
}


footer{
  margin:60px 0;
}

footer .email-link {
  display: flex;
  justify-content: center;
  color: #648a65;
  text-decoration: none;
  font-size: 24px;
}
footer .email-link:hover{
  color: #648a65;
}
