.App {
  text-align: center;
}


.App-header {
  min-height: 100vh;
  display: block;
  margin: auto 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-logo {
  max-width: 100px;
  height:100px;
  pointer-events: none;
  background-color:#282c34 ;
}

.App-link {
  color: #61dafb;
}

