.App {
  margin: 40px;
  text-align: center;
  background: #F9F7E3;
}

.App-header {
  min-height: 100px;
  display: block;
  margin: auto 0;
  align-items: center;
  justify-content: center;
}

.App-footer {
  color:rgb(25, 0, 255)
}


.App-logo {
  border-radius: 50%;
  max-width: 100px;
  height:100px;
  pointer-events: none;
  margin:10px;
}

.App-link {
  color: #61dafb;
}

