.Dictionary {
    display: block;
    margin: auto ;
    border-radius: 2%;
    max-width: 950px;
}

.WordChoice{
    text-align: left;
    margin:10px;
    padding: 10px;
}

input{
    width: 100%;
    border-radius: 8px;
    padding:6px 10px;
}

section{
    max-width: 950px;
    background: #f9f7e3;
    padding:20px;
    box-shadow: 0 10px 10px rgb(0 0 0 /10%);
    border-radius: 20px;
    border:1px solid beige
}

