.Meaning {
   margin: 10px;
   text-align: center;
}

.Meaning .partOfSpeech {
    color: #648a65;
    font-size: 30px;
    font-weight:600;
    text-transform: capitalize;
}

.Meaning .definition {
    font-size: 20px;
    font-weight:600;
    text-transform: capitalize;
    text-align: left;
    padding: 0px 20px;
}

.Meaning .example {
    padding:0px 20px;
    text-align: left;
    font-size: 20px;
    font-weight:400;
    text-transform: capitalize;
}

.Meaning .synonyms {
    color:#648a65;
    padding:0px 20px;
    font-size: 15px;
    text-align: left;
    text-transform: capitalize;

}