.Meaning{
   margin: 20px;
}

.Meaning .partOfSpeech {
    font-size: 30px;
    font-weight:600;
    text-transform: capitalize;
}

.Meaning .definition {
    font-size: 20px;
    font-weight:400;
    text-transform: capitalize;
    text-align: left;
    padding: 0px 20px;
}

.Meaning .example {
    padding:0px 20px;
    text-align: left;
    font-size: 15px;
    font-weight:400;
    text-transform: capitalize;
}

.Meaning .synonyms {
    padding:0px 20px;
    text-align: left;
    font-size: 15px;
    font-weight: 500;
    text-transform: capitalize;

}